
<header class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#top" class="navbar-brand scroll-top logo"><b>Prisco Napoli</b></a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav pull-right" id="mainNav">
                        <li class="active"><a href="#home" class="scroll-link">Home</a></li>
                        <li><a href="#aboutUs" class="scroll-link">About Me</a></li>
                        <li><a href="#skills" class="scroll-link">Skills</a></li>
                        <li><a href="#experience" class="scroll-link">Experience</a></li>
                        <li><a href="#portfolio" class="scroll-link">Blog</a></li>
                        <li><a href="#contactUs" class="scroll-link">Contact Me</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </header>
    <!--/.header-->

    <div id="#top"></div>
    <section id="home">
        <div class="banner-container">
    <img src="{{ site.url }}/assets/images/banner-big.jpg" alt="banner" />
            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Ultra Low Latency Messaging</h2>
                        <p>Optimize delivery performance of high-volume market data feeds and ultra low latency applications</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Worldwide Financial Protocols</h2>
                        <p>FIX/FAST, NASDAQ OUCH, ITCH, OMnet API, NYSE ArcaDirect, XPRS Direct Edge, BATS BOE/BOE-US, LSE Native Trading Gateway, RWF/EDF for Thomson Reuter 
                        </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>IP Networking</h2>
                        <p>Packet analysis with libpcap, tcpdump, wireshark, scapy... and lots more!</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>STL/Boost</h2>
                        <p>The best generic-purpose and cross-platform libraries for C++ development</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Effective parallelism</h2>
                        <p>Multi-threading, lock-free/wait free data structures, relaxed memory models, mechanical sympathy</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Openstack</h2>
                        <p>Build and manage cloud computing platforms for public and private clouds</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>At edge</h2>
                        <p>Conversations at the edge of science knowledge: quantum computing, many-worlds interpretation, artificial intelligence</p>
                        <div class="da-img"></div>
                    </div>
        <!--  <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav> -->
                </div>
            </div>
        </div>
    </section>


    <section id="introText">
        <div class="container">
            <div class="text-center">
            <h1><b>To those who pursue the beauty of the code</h1>
            </div>
        </div>
    </section>

<!--About-->
    <section id="aboutUs" class="secPad">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>I am Prisco, a Software Engineer</h2>
    <p align="justify">
              I make software</b> most of the time and <b>I really love it</b>. I worked for several successful companies in <b>Telco</b> and <b>Financial</b> sectors. My current Job is in <a href="http://corvil.com/">Corvil</a>, the <b>IT data analytics company</b> for <b>business in the Now</b>.
              I am involved on the design and development of real-time key analytics plugins across a broad range of trading, middleware and enterprise data protocols.</p>
               <p align="justify">
              I have a unstoppable curiosity that drive me to learn new methodologies, programming languages and cutting-edge technologies. Lots and lots of books, videos and hundreds of articles. I also love to read about <b>mathematics</b>, <b>physics</b> and <b>computer science</b>. 
              One day I thought it would be nice to have a space for explaining my favorite  <b>theories, concepts, and research studies</b>. The result is this blog and all its content. Hope you’ll enjoy it!
            </p>
            </div>
            <div class="row">
                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                   <div class="txtHead"> <i class="fa fa-desktop"></i>
                    <h3>Software <span class="id-color">Design and Development</span></h3></div>
                    <p>Agile Software Development, Programming Languages, Web Development, SOA, Security and Test Penetration.</p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                    <div class="txtHead"><i class="fa fa-line-chart"></i>
                    <h3>Global <span class="id-color">Financial Market Protocols</span></h3></div>
                    <p>Financial Systems Architecture, High Frequency Trading, Quantitative Trading, Low-Latency Systems, FIX/FAST.<br/></p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                    <div class="txtHead"><i class="fa fa-cloud"></i>
                    <h3>Cloud Computing <span class="id-color">Openstack, AWS</span></h3></div>
                    <p>Cloud Computing Architecture, Service Models, Deployment Models, Scalability, Security, Privacy and Trust.
                    <br/></p>
                </div>
                <!-- end: -->
            </div>
        </div>
    </section>
    <!--Quote-->
    <section id="quote" class="bg-parlex">
        <div class="parlex-back">
            <div class="container secPad text-center">
        <h3>All men dream: but not equally. Those who dream by night in the dusty recesses of their minds wake in the day to find that it was vanity: but the dreamers of the day are dangerous men, for they may act their dreams with open eyes, to make it possible. This I did.</h3><h4>-T. E. Lawrence</h4>
            </div>
            <!--/.container-->
        </div>
    </section>

    <!--Skills-->
    <section id="skills" class="secPad white">
      <div class="container">
        <div class="heading text-center">
                <!-- Heading -->
                <h2>My Skills</h2>
                <p>My technical expertise includes Object Oriented Software Design, software development for Linux based systems, scripting and functional languages, Agile Methodologies, Test Automation, packet analysis, debugging and profiling tools.</p>
            </div>
          <div class="row">
                <div class="col-sm-6">
                    <h2>Programming <strong>Skills</strong></h2>
                    <p class="mrgBtm20" align="justify">
                        I believe that it takes work, dedication and competence to make great ideas and great products. Since I finished my MSc, I save part of my daytime for learning and mastering new approaches, technologies and future's best practices.
                        I am focused to improve technical skills and professional profile.
                        <br/><br/>
                    </p>
                    <div class="row">
                        <div class="col-md-2 skilltitle">C, C++</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                    <span class="sr-only">95% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Java, Python</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">gdb, valgrind</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">git, svn</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
                <div class="col-sm-6">
                    <h2>Designing <strong>Skills</strong></h2>
                    <p class="mrgBtm20" align="justify">
                        Solutions to problems have never the same value. The model adopted, time and space complexities, efficiency, scalability and maintainability are key factors in choosing the right solution.
                        I like work on hard problems. I have a strong background in Software design which allows me to face with a variety of data and information and find the best way to summarize all the relevant information in a sensible decision for product.
                    </p>
                    <div class="row">
                        <div class="col-md-2 skilltitle">OO Design</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Agile Dev</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Test Autom</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 skilltitle">GoF Pattern</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">85% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>

    <!--Experience-->
    <section id="experience" class="secPad">
        <div class="container">     
           <div class="heading text-center">
            <!-- Heading -->
            <h2>Professional Experience</h2>
            <p>Experience is the best teacher, but the tuition is high.</p> <h6>-Norwegian Proverb</h6>
        </div>
        <div id="timeline"><div class="row timeline-movement timeline-movement-top">
            <div class="timeline-badge timeline-future-movement">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span class="glyphicon glyphicon-time"></span>
                </a>
            </div>

        </div>
        <div class="row timeline-movement">


            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">Feb</span>
                <span class="timeline-balloon-date-month">2014</span>
            </div>

            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">prisconapoli.github.io</span></li>
                                <li><span class="causale">A blog about <b>mathematics</b>, <b>physics</b> and <b>computer science</b>. A virtual space to explain my favorite theories, concepts, and research studies.</
                                <li><p><small class="text-muted"> 01/02/2014 - Present</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>    
        </div>

        <div class="row timeline-movement">

            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">Dic</span>
                <span class="timeline-balloon-date-month">2013</span>
            </div>


            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Software Engineer at Corvil</span></li>
                                <li><span class="causale">Research, design and implementation of key analytics for the Corvil Streaming Analytics Platform. Corvil's Analytics identify and track messages, transactions and performance in real-time across a broad range of trading, middleware and enterprise data protocols. Low level C/C++, Python, Java, FIX, FIX/FAST, Global Financial Market Protocols, IP Networking, STL, Boost</span> </li>
                                <li><p><small class="text-muted"> 02/12/2013 - Present</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--due -->

        <div class="row timeline-movement">


            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">Apr</span>
                <span class="timeline-balloon-date-month">2013</span>
            </div>

            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Software Engineer - Consultant at Capgemini</span></li>
                                <li><span class="causale">Consultant at Telecom Italia Wholesale Services Innovation & Consulting.</span></li>
                                <li><b>NWS CRM 3.0</b>: manage technical and commercial relationships with Other Lincensed Operator (OLO) in connection with the provision of SMP services (wholesale access to the fixed network and wholesale line rental). Delivery of wholesale services: xDSL over Bitstream ATM/GBE, Next-generation access (NGA), Unbundled local loop (ULL), Virtual ULL (VULL) Wolesale Line Rental (WLR), Shared Access, Number Portability.
                                </li>
                                <li>Teacher in Training Events for Other Lincensed Operator (OLO).
                                </li>
                                <li><p><small class="text-muted"> 01/04/2013 - 30/11/2013</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>    
        </div>
        <div class="row timeline-movement">


            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">Sep</span>
                <span class="timeline-balloon-date-month">2011</span>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Software Engineer - Analyst Consultant at Capgemini</span></li>
                                <li><span class="causale">Analyst Consultant at Telecom Italia Wholesale Services Innovation & Consulting.</span> </li>
                                <li><b>NWS CRM 3.0</b>: a platform for the Wholesale market that supports integrated processes of Delivery and Billing. </li><li>
                                Bug fixing and testing. Oracle Siebel CRM 8.1, SQL, UNIX/Linux, Java, Python.
                                </li>
                                <li><p><small class="text-muted"> 01/10/2011 - 31/03/2013</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>    
        </div>


        <div class="row timeline-movement">


            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">Mar</span>
                <span class="timeline-balloon-date-month">2011</span>
            </div>

            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Software Engineer - Junior Consultant at Capgemini</span></li>
                                <li><span class="causale">Analyst Consultant at Telecom Italia Wholesale Services Innovation & Consulting.</span> </li>
                                <li><b>NWS CRM 2.0</b>: Bug fixing and testing.
                                    Oracle Siebel CRM 8.1, Toad, SQL, UNIX/Linux, bash scripting.
                                </li>
                                <li><p><small class="text-muted"> 01/03/2011 - 30/09/2011</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>    
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">Sep</span>
                <span class="timeline-balloon-date-month">2010</span>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Junior Researcher at CINI</span></li>
                                <li><span class="causale">Design and Development of <a href="http://mivia.unisa.it" target="_blank">MIVIA Lab</a> Web Portal.
                                </li>
                                <li>Zope Platform for Web Application, Python, HTML/CSS,  Apache Tomcat, Postgres DB</span> </li>
                                <li><p><small class="text-muted"> 01/09/2010 - 31/12/2010</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>    
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">Mar</span>
                <span class="timeline-balloon-date-month">2008</span>
            </div>

            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Internship at Engineering Ingegneria Informatica SPA</span></li>
                                <li><span class="causale">Development of a prototype to view high interactive Maps for GIS based Web Applications.</li>
                                <li>Development of new libraries for OpenLayers API. </span> </li>
                                <li><p><small class="text-muted"> 01/03/2008 - 31/07/2008</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>    
        </div>
    </div>

</section>
    
  
   <!--Portfolio-->
    <section id="portfolio" class="page-section section appear clearfix secPad">
        <div class="container">

            <div class="heading text-center">
                <!-- Heading -->
                <h2>Latest Blog Posts</h2>
 <p><b class="title">There are a lots of articles in the
                                        <a class="more-link" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a> </b></p>   
            </div>

            <div class="row">
                <nav id="filter" class="col-md-12 text-center">
                    <ul>
                        <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
 {% assign sorted_array = site.categories | sort %}
                            {% for category in sorted_array %}
                        <li><a href="#" class="current btn-theme btn-small" data-filter=".{{ category[0]}}" >
                            {{ category[0] }}
                        </a></li>
                        {% endfor %}
                        {% assign sorted_array = nil %}
                        
                    </ul>
                </nav>
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">
                            {% assign sor = site.posts | group_by:"category" %}
                            {% for group in sor %}
                            {% for post in group.items| limit:5 %}
                            {% if post.title %}
                             <article class="col-sm-4 isotopeItem {{ group.name|downcase }}">
                                <div class="portfolio-item">
                                    {% if post.image %}
                                    <img src="{{ site.url }}/assets/images/{{ post.image }}" alt="{{ post.title }}" />
                                    {% endif %}
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ BASE_PATH }}{{ post.url }}" class="fancybox">
                                                <h5>{{ post.title }}</h5>
                                                <p>{% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
    {% endif %}</p>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                     <div class="heading text-center">
                                    <a style="color:white;" href="{{ BASE_PATH }}{{ post.url }}"  alt="{{ post.title }}"> 
                                    <b> {{ post.title }} </b>

                                    </a>
                                    </div>    
                                </div>
                            </article>
                            {% endif %}
                            {% endfor %}
                             {% endfor %}
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </section>

  <!--Contact -->
    <section id="contactUs" class="secPad white">
        <div class="container">

            <div class="row">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2>Let's Keep In Touch!</h2>
                    <p>Thank you for visiting out my web site. If you would like to get into contact with me, please fill out the form below.</p>
                </div>
            </div>

            <div class="row mrgn30">
                <div class="col-sm-8">
<div id="wufoo-z1n2uy4w11y0kka">
Fill out my <a href="https://prisconapoli.wufoo.com/forms/z1n2uy4w11y0kka">online form</a>.
</div>
<!--<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div> -->
<script type="text/javascript">var z1n2uy4w11y0kka;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'prisconapoli',
'formHash':'z1n2uy4w11y0kka',
'autoResize':true,
'height':'438',
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1n2uy4w11y0kka = new WufooForm();z1n2uy4w11y0kka.initialize(options);z1n2uy4w11y0kka.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

</div>
                <div class="col-sm-4">

                    <h4>Basic Information:</h4>
                    <address>
                        <i class="fa fa-map-marker"></i> <b>Location</b>: Dublin, Ireland<br>
                        <i class="fa fa-link"></i> <b>Website</b>: <a href="{{ site.production_url }}"> {{ site.production_url }}</a>
                        <br>
                    </address>
                </div>
            </div>
        </div>
        <!--/.container-->
    </section>